/* ------------------------------ ESCRITORIO (XL REVISAMOS EN 1366PX EN ADELANTE) ----------------------------- */
*{
    font-family: 'Roboto', sans-serif;

/* ---font-family: 'Palanquin', sans-serif; --- */
}
ul,ol{
    list-style: none;
}
a:visited, a:link, a:focus, a:hover, a:active{
    list-style: none;
    text-decoration: none;
}

/* ---------- cabecera ------------ */
header .logotipo{
    width:35%;
}
header{
    background: white;
    position:fixed;
    top: 0;
    left: 0;
    z-index:5; 
}

#preload{
    position: fixed;
   z-index: 50;
   width: 100%;
   height: 100%;
}
.estadoCarga{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    
}
/* ------------------------------ ICONOS REDES ------------------------------ */

.redes ul li i{
width: 35px;
line-height: 35px;
text-align: center;
cursor: pointer;

}

.redes ul li i.fa-facebook-square{
    background: #1e3799
}
.redes ul li i.fa-instagram{
    background: #b71540
}
.redes ul li i.fa-youtube{
    background: #eb2f06
}*/
.fa-bars{
    font-size: 35px;
}

/* ------------------------------- REDES MOVIL ------------------------------ */


.redesMovil{
position: fixed;
bottom: -5px;
left: 50%;
transform: translate(-50%,0%);
background: #273c75;
width: 100%;
z-index: 3;
}

/* -------------------------------------------------------------------------- */
/*                                   BANNER                                   */
/* -------------------------------------------------------------------------- */

/*.colorOv::after{
content: "";
display: block;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: #1e3799;
opacity: 0.8;
}*/


/* -------------------------------------------------------------------------- */
/*                                 CARDS MENU                                 */
/* -------------------------------------------------------------------------- */

.carTxtag0{

    opacity: 0;
    transform: translateY(25px);
    
    transition: all 0.6s ease-out;
    
    
    }
    
    .carTxtag0.fade-in{
    opacity: 1;
    transform: translateY(0px);
    
    }



.carDstag{

opacity: 0;
transform: translateY(50px);
transform: scale(.9);
transition: all 0.6s ease-out;


}

.carDstag.fade-in{
opacity: 1;
transform: translateY(0px);
transform: scale(1);
}


.categorias{
    color: aliceblue;
}

.catColor::after{
content: "";
display: block;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: #1e3799;
opacity: 0.5;
border-radius:5px;
}

/* -------------------------------------------------------------------------- */
/*                                 NAVEGACION                                 */
/* -------------------------------------------------------------------------- */
.formTex input{
    height: 27px;
    font-size: 12px;
}


#textoMenu {

font-family: 'Heebo', sans-serif;
font-weight:500px;

font-size: 15px;

}

/* -------------------------------------------------------------------------- */
/*                                   SIDEBAR                                  */
/* -------------------------------------------------------------------------- */

.comentSt{
    border-radius: 10px;
    background: #222f3e;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */


.colorFT{
    background: #222f3e;
}
.imgFT{
    width: 35%;
}



/* -------------------------------------------------------------------------- */
/*                                  SCROLLUP                                  */
/* -------------------------------------------------------------------------- */


#topBtn{
    position: fixed;
    z-index: 6;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
  }
  

/* ------------------------------ TABLET HORIZONTAL (LG REVISAMOS EN 1024PX) ----------------------- */
@media (max-width:2560px) and (min-width:992px){

    
    header .logotipo{
        width:57%;
    }
}

  
    

    


/* ------------------------------ TABLET VERTICAL (MD REVISAMOS EN 768PX)  ------------------------- */
@media (max-width:991px) and (min-width:768px){
    
    .imgFT{
        width: 65%;
    }
    
    
    .bnTx1{
        
        line-height: 25px;
    }
    .tagCT {
        line-height : 15px;
    }
    .btnCT a {
        font-size:10px
        
    }
    
    header .logotipo{
        width:67%;
    }
    
    

    }
    

/* ------------------------------ MOVIL HORIZONTAL (SM REVISAMOS EN 576PX)  ------------------------ */
@media (max-width:767px) and (min-width:576px){
    
   
}

/* ------------------------------ MOVIL VERTICAL (REVISAMOS EN 320PX)  ----------------------------- */
@media (max-width:575px){
   
   
    #topBtn{
        position: fixed;
        z-index: 6;
        bottom: 65px;
        right: 0px;
        font-size: 22px;
        width: 50px;
        height: 50px;
        background: #e74c3c;
        color: white;
        border: none;
        cursor: pointer;
        display: none;
      }
      
   
   
   
    .textFT{

        text-align: center;
    }
    .imgFT{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
    .bnTx1{
        padding-top: 5%;
        font-size: 185%;
        line-height : 25px;
    }

    .bnTx2{
        font-size: 125%;
        line-height : 25px;
    }
    header .logotipo{
        width:57%;
    }
    .textCard h5  {

        font-size:15px;
    }

    .textBtn h6 {
       font-size:11px;
       line-height : 10px;
    }


    .fa-bars{
        font-size: 85px;
        line-height : 25px;
    }


    
}



