/* ------------------------------ ESCRITORIO (XL REVISAMOS EN 1366PX EN ADELANTE) ----------------------------- */
*{
    font-family: 'Roboto', sans-serif;

/* ---font-family: 'Palanquin', sans-serif; --- */
}
ul,ol{
    list-style: none;
}
a:visited, a:link, a:focus, a:hover, a:active{
    list-style: none;
    text-decoration: none;
}

/* ---------- cabecera ------------ */
header .logotipo{
    width:35%;
}
header{
    background: white;
    position:fixed;
    top: 0;
    left: 0;
    z-index:5; 

}
/* ------------------------------ ICONOS REDES ------------------------------ */

.redes ul li i{
width: 35px;
line-height: 35px;
text-align: center;
cursor: pointer;

}

.redes ul li i.fa-facebook-square{
    background: #1e3799
}
.redes ul li i.fa-instagram{
    background: #b71540
}
.redes ul li i.fa-youtube{
    background: #eb2f06
}*/
.fa-bars{
    font-size: 35px;
}

/* ------------------------------- REDES MOVIL ------------------------------ */
.redesMovil{
position: fixed;
bottom: -5px;
left: 50%;
transform: translate(-50%,0%);
background: #273c75;
width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                   BANNER                                   */
/* -------------------------------------------------------------------------- */
.bannerColor{
height: 300px;
background: #273c75;
}
.prev , .next{
    opacity: 0.3;
}

.next{
    position: relative;
    right:300px ; 
}


.textCard p  {

    font-size:15px;
    line-height : 15px;
}
/* -------------------------------------------------------------------------- */
/*                                 NAVEGACION                                 */
/* -------------------------------------------------------------------------- */

#textoMenu {

font-family: 'Heebo', sans-serif;
font-weight:500px;

font-size: 15px;

}





/* ------------------------------ TABLET HORIZONTAL (LG REVISAMOS EN 1024PX) ----------------------- */
@media (max-width:2560px) and (min-width:992px){

}
    header .logotipo{
        width:65%;
    }
    }


/* ------------------------------ TABLET VERTICAL (MD REVISAMOS EN 768PX)  ------------------------- */
@media (max-width:991px) and (min-width:768px){
    
    header .logotipo{
        width:67%;
    }
    
    }

/* ------------------------------ MOVIL HORIZONTAL (SM REVISAMOS EN 576PX)  ------------------------ */
@media (max-width:767px) and (min-width:576px){
    
    
}

/* ------------------------------ MOVIL VERTICAL (REVISAMOS EN 320PX)  ----------------------------- */
@media (max-width:575px){
   
    header .logotipo{
        width:60%;
    }
    .textCard h5  {

        font-size:15px;
    }

    .textBtn h6 {
       font-size:11px;
       line-height : 10px;
    }


    .fa-bars{
        font-size: 85px;
        line-height : 25px;
    }
}



